<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.frame.dao.base.AuthorityMapper">

    <select id="queryByRoleId" resultType="com.base.frame.entity.base.TypeCode">
        select t.id, t.name,t.code,
        (select count(*) from role_menu_mapping  where role_id = #{roleId} and menu_id = t.id) as state
        from type_code t
        where t.node = 'menu' and t.state = 1
    </select>


    <select id="queryUserAuthorityByRoleId" resultType="string">
        select code from type_code where id in (
            select menu_id from role_menu_mapping where role_id = #{roleId}
        ) and state = 1
    </select>

    <insert id="save">
        insert role_menu_mapping(role_id, menu_id)
        values 
        <foreach collection="menuIds" item="menuId"  separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>
    
    <delete id="deleteByRoleId">
        delete from role_menu_mapping where role_id = #{roleId}
    </delete>

</mapper>

